@import url('https://fonts.googleapis.com/css?family=Cormorant|Vollkor');                                                                                                                                                                                                  


$header-font: 'Cormorant', serif;
$definition-font: 'Vollkorn', serif;
$Cardstock-color: #e4d2ba;


*{
	color:red;
}

body{

background-color:$Cardstock-color;

border:4px solid black;
font-size:28px;

font: $header-font;

}