@import url('https://fonts.googleapis.com/css?family=Cormorant|Vollkor|Lobster');                                                                                                                                                                           
$header-font: 'Lobster', cursive;
$definition-font: 'Vollkorn', serif;
$Cardstock-color: #00968B;





















@media screen and( min-width: 750px) {
#app{

	margin-left:33%;
	margin-right:33%; 
}

.englishInput{
	width:300px;
	display:inline;
}


body{


margin-left:15% ;
margin-right:15%;
margin-bottom:15%;
margin-top:20px;
width:70%;
height:30%;

background-color:$Cardstock-color;

font-family: $definition-font;

}

h1{ 
	position:relative;
	right:80px;
	width:700px;
	line-height: 2.0em;
	font-family: $header-font;
	font-size:2.8em;
}


form {
position: relative;
left:-50px;
margin-top: 35px;
border-radius:5px;

}

input {
	width: 300px;
	height: 30px;
	
}

.trans {
	float:right;
	top:155px;
	left:750px;
	position:absolute;
	display:inline;
	
}



p {
	position:relative;
	right:80px;
	width:500px;
	margin-top:15%;
	font-size:2.0em;
	border:5px double black;
}

dfn {

	color:red;
}


	button {
		position:absolute;
		display:inline;
		right:320px;
		bottom:120px;
		padding:10px;
	}

	}
