@import url('https://fonts.googleapis.com/css?family=Fira+Sans:300,400,600');                                                                                                                                       
$header-font: 'Fira Sans', sans-serif;
$definition-font: 'Fira Sans', sans-serif;
$Background-color: #F7F7F2;
$Font-color: #261C15;


body{

background-color:$Background-color;

font-family: $definition-font;

text-align:center;

color:$Font-color;


}

h1{ 
	font-family: $header-font;
	font-size:2.0em;
}

form {
	min-width:100px;
	min-height:60px;
}

input {
	min-width:150px;
	min-height:30px;
	font-size:25px;
}

p{
	font-size:1.5em;
	max-width:75%;
	text-align: center;
	margin-left:25%;
	margin-right: 25%;
}

dfn {
	color:#F05D23;
	font-size:1.0em;
}


.trans> button {
	min-width:318px;
	min-height:60px;
	font-size:1.2em;
}